body {
    color: black;
    background: #ffffff;
    font-family: monospace;
    width: 120ch;
    print-color-adjust: exact;
}

h1 {
    text: white;
    text-decoration: underline;
    width: 100%;
}

h2 {
    padding-left: 2ch;
    background: #000000;
    color: white;
    width: 100%;
}

h3 {
    padding-left: 4ch;
    background: #393939;
    color: #dcdcdc;
    width: 100%;
}

p {
    margin-left: 4ch;
    width: 120ch;
}

a:link {
    color: black;
    font-weight: bold;
}

p {
    page-break-inside: avoid;
}
